## Book 1 12-16-20 mm Analsysis

In [1]:
# The code was removed by Watson Studio for sharing.

,Size (mm),Date,Sample Time,Mill Speed,QB Inlet Temp,No of Open Valves,Water Pressure,QB Outlet Temp,Cooling Bed Temp,Grade,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55
0,12.0,29.01.2022,10:30,15.0,929.0,4.5,13.3,362.0,663.0,549.0,...,NaN,SUMMARY OUTPUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12.0,29.01.2022,10:30,15.0,929.0,4.5,13.3,362.0,663.0,541.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12.0,29.01.2022,10:50,15.0,931.0,4.5,13.3,365.0,643.0,557.0,...,NaN,Regression Statistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12.0,29.01.2022,10:50,15.0,931.0,4.5,13.3,365.0,643.0,552.0,...,NaN,Multiple R,0.267740657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12.0,29.01.2022,11:00,15.0,914.0,4.5,13.3,371.0,613.0,555.0,...,NaN,R Square,0.071685059,NaN,NaN,NaN,NaN,NaN,NaN,NaN